// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /**  Customer-customized variables **/
  --primary-custom-color: #00ADD3; 
  --primary-contrast-custom-color: #ffffff; 
  --secondary-custom-color: #50c8ff; 
  --secondary-contrast-custom-color: #000000; 

  /** primary **/
  --ion-color-primary: var(--primary-custom-color);
  --ion-color-primary-rgb: var(--primary-custom-color-rgb);
  --ion-color-primary-contrast: var(--primary-contrast-custom-color);
  --ion-color-primary-contrast-rgb: var(--primary-contrast-custom-color-rgb);
  --ion-color-primary-shade: var(--primary-custom-color-shade);
  --ion-color-primary-tint: var(--primary-custom-color-tint);
  --ion-text-color:#000000;

  // todo ?
  // --ion-toolbar-background	: #00ADD3;
  --ion-item-background	: #ffffff;
  --ion-item-color	: #000000;
  --ion-color-step-850: #FFFFFF;
  --ion-toolbar-color	:#ffffff;
  --ion-card-background:#ffffff;
  --ion-card-color:#ffffff;

  /** secondary **/
  --ion-color-secondary: var(--secondary-custom-color);
  --ion-color-secondary-rgb: var(--secondary-custom-color-rgb);
  --ion-color-secondary-contrast: var(--secondary-contrast-custom-color);
  --ion-color-secondary-contrast-rgb: var(--secondary-contrast-custom-color-rgb);
  --ion-color-secondary-shade: var(--secondary-custom-color-shade);
  --ion-color-secondary-tint: var(--secondary-custom-color-tint);

  //todo review colors below
  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #203d76;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

}
